*{
    padding: 0;
    margin: 0;
    font-family: futura;
    box-sizing: border-box;

}

body {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  font-size: 42px;
  letter-spacing: 2px;
  color: #a0a0a0 !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  margin-left: 115px;
}
span {
  color: #E30613;
}

.customNav{
  position: absolute;
  width: 100%;
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin: 0px 15px;
  }

  .dropdown-menu {
    background-color: transparent !important;
    background-size: cover;
  }

  .dropdown-item:focus, .dropdown-item:hover {
      color: #bdbaba;
      text-decoration: none;
      background: #E30613;
  }  

  .dropdown-menu {
    left: -97px;
  }

.jumbotron {
    background-image: url(../images/elgraphicacover.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .jumboCopy {
    margin-top: 100px;
    margin-left: 100px;
  }

  .newsletter form {
    width: 380px;
    max-width: 100%;
    position: relative;
  }

  .newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #E30613;
    outline: none;
    border-radius: 30px;
  }

  .newsletter form input:last-child {
    background-color: #E30613;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: #bdbaba;
    top: 6px;
    right: 6px;
}
.newsletter form input:last-child:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #E30613;
}

.btn {
  background-color: #E30613;
    outline: none;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
    color: #bdbaba;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #E30613;
}

.container-fluid{
  background-image: url(../images/elgraphicacover.png);
  height: calc(100vh - 70px);
}

.cardContainer {
  margin-top: 20px;
}

.card {
  margin: 0 auto;
}

.content {
  padding: 50px;
}

.sectionHeading {
  text-align: center;
}

.myWork {
  padding: 0px 30px 30px 30px;
}

.cardContainer {
  text-align: center;
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.aboutMe img {
  height: auto;
  width: 1000px;
}

.about-text {
  width: 600px;
}

.main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.about-text h2 {
  color: #E30613;
  font-size: 72px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.about-text h5 {
  color: #E30613;
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.about-text p {
  color: #bdbaba;
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 18px;
  margin-top: 42px;
}

.sectionHeading {
  color: #E30613;
  font-size: 72px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.col-8 h3 {
  color: #E30613;
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.col-8 p {
  color: #bdbaba;
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 18px;
  margin-top: 42px;
}

.valueProp {
  margin-top: 50px;
  margin-bottom: 15px;
}

.sideAccent {
  background: #E30613;
  width: 15px;
  border-radius: 30px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.contact h3 {
  color: #E30613;
  letter-spacing: 2px;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}